.DS_Store
go.sum
app
test_network.json
.vscode

scripts/create_docker_cli.pyc
crypto-config/final_files/configtx.yaml
crypto-config/final_files/crypto-config.yaml
docker-files/final_files/docker-compose-cli.yaml
docker-files/final_files/base/docker-compose-base.yaml
scripts/create_docker_base.pyc
scripts/create_crypto_config.pyc
scripts/create_configtx.pyc

fixtures/*

scripts/__pycache__/*

docker-files/original_files/*
