Misc
.DS_Store
go.sum
app
.vscode

Python Stuff
scripts/create_docker_base.pyc
scripts/create_crypto_config.pyc
scripts/create_configtx.pyc
scripts/__pycache__/*
scripts/create_docker_cli.pyc

Output Files
fixtures/*

Executables
bin/*

Network Artifacts Files
network/channel-artifacts/*
network/crypto-config/*
network/configtx.yaml
network/crypto-config.yaml
network/docker-compose-cli.yaml
network/base/docker-compose-base.yaml

